@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');



:root {
  --fontFamily: 'Poppins', sans-serif;
  --primaryColor: #ffffff;
  --secondaryColor: #000000;
  --bgPrimary: #6047EC;
  --bgSecondary: #F3F5F9;
  --bgSearchField: #F5F5F5;
  --bgBtn: #FF2A7E;
}


*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  vertical-align: middle;
  font-family: var(--fontFamily);
}

.container{
  max-width: 80rem;
  width: 80%;
  margin: 0 auto;
}


/*====================
Header Section
======================*/

.header{
  background-color: var(--bgPrimary);
}

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-img{
  width: 100%;
  height: 100%;
}

.brand-area{
  flex-basis: 20%;
}
 
.nav{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-item{
  list-style: none;
}

.nav-link{
  text-decoration: none;
  color: var(--primaryColor);
}

.avatar{
  width: 3rem;
  height: 3rem;
}


/*====================
Main Section
======================*/


.main-area{
  background-color: var(--bgSecondary);
  padding: 3rem 0;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.25rem;
}

.milestone-img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  cursor: pointer;
  transition: opacity 0.8s linear;
  -webkit-transition: opacity 0.8s linear;
  -moz-transition: opacity 0.8s linear;
}

.title,.details {
  margin: 10px auto;
}

.milestone{
  background-color: var(--primaryColor);
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
}

.milestone-single{
  display: flex;
  align-items: center;
}

.checkbox{
  margin-right: 7px;
  cursor: pointer;
}

.milestone-title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.milestone-name{
  cursor: pointer;
}

.milestone-title span i{
  background-color: var(--bgBtn);
  color: var(--primaryColor);
  font-size: 1.25rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.hidden-panel{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
}


/*====================
Footer Section
======================*/


.footer-area{
  background: linear-gradient(180deg, rgba(104,75,250,1) 0%, rgba(90,2,222,1) 100%);
}

.footer-content{
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-single{}

.address{
  margin: 1.25rem 0;
}

.address p{
  color: var(--primaryColor);
  margin-bottom: 10px;
}

.address p a{
  color: var(--primaryColor);
  text-decoration: none;
  transition: all 0.5s linear;
}

.address p a:hover{
  text-decoration: underline;
}

.footer-single ul{
  list-style-type: none;
}
.footer-single ul li{
  margin-bottom: 10px;
}

.footer-single ul li a{
  text-decoration: none;
  color: var(--primaryColor);
  transition: all 0.5s linear;
}

.footer-single ul li a:hover{
  text-decoration: underline;
}

.copyright-area{
  text-align: center;
  padding-bottom: 2rem;
}

.copyright-area p{
  color: var(--primaryColor)
}